body{
    margin: 0 auto;
    background-color: rgb(41,189,193)
    ;
}
h1{
    color: rosybrown;
    text-align: center;
}

.interests, .bio{
    width:45%;
    float: left;
    max-height:115px;
}
.interests{
    border:thick solid peru;
    background-color: rgb(152, 226, 193);
}
.bio{
    height:106px;
    background-color: lemonchiffon;
    position:relative;
    bottom:15px;
    border:5px solid lightblue;
}
#imageBox{
    margin:2%;
}
#imageBox img{
    margin-top:3%;
}
.gameBox{
    margin-top:2%;
    text-align: center;
}
.gameBox a:hover{
    color:green;
    text-decoration: underline;
}
.gameBox a{
    padding:1%;
    text-decoration: none;
    color: #0055FB;
}
